<?xml version="1.0"?>

<model>
  <name>asymmetric_pipestar_with_cap</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>philipf</name>
    <email>frieling@get.uni-paderborn.de</email>
  </author>

  <description>
    A model of a pipe_star with one head from Robocup.
  </description>

</model>
