<?xml version="1.0"?>
<model>
  <name>apriltag_target</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <description>
    Pedestal with a cube matching dexterity/config/cad_models/cube_at_rl2.cao (0.097 x 0.1 x 0.097 m).
    AprilTag 36h11 ID 0 (black square 0.072 m) on the face pointing along -X, i.e. towards a robot
    standing on the -X side.
  </description>
</model>
