<?xml version="1.0"?>

<model> 
	<name>April Tag Cube</name>
	<version>1.0</version>
	<sdf version="1.5">model.sdf</sdf>

	<author>
		<name>Dirk Fischer</name>
		<email>fischer@get.uni-paderborn.de</email>
	</author>

	<description>
		April Tag ... with 36H11 tagid-0 100mm tag 
	</description>

</model>
